<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
 -->

<h3>Ask your question to your coach</h3>
<form action="/answer">
  <input type="text" name="question" placeholder="Ask a question">
  <input type="submit" value="Submit!">
</form>
